<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 order-4 order-md-0">
				<div class="footer__content">
					<div class="footer__info">
						<div class="footer__logo d-none d-md-block">
							<a href="/"><img src="img/logo.svg" alt=""></a>
						</div>

						<div class="footer__slogan d-none d-md-block">Интернет-магазин юридических услуг с&nbsp;прозрачными и&nbsp;фиксированными ценами</div>

						<div class="footer__copyright">
							<div class="footer__year">2010-2019.</div>
							Все права защищены
						</div>
					</div>
				</div>
			</div>

			<div class="col-6 col-md-3">
				<div class="footer__head">Информация</div>

				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#">О проекте</a></li>
					<li class="footer-menu__item"><a href="#">Физическим лицам</a></li>
					<li class="footer-menu__item"><a href="#">Юридическим лицам</a></li>
					<li class="footer-menu__item"><a href="#">Дела и отзывы</a></li>
					<li class="footer-menu__item"><a href="#">Частые вопросы</a></li>
					<li class="footer-menu__item"><a href="#">Информация</a></li>
					<li class="footer-menu__item"><a href="#">Контакты</a></li>
				</ul>
			</div>

			<div class="col-6 col-md-3">
				<div class="footer__head">Услуги</div>

				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#">Жилищные споры</a></li>
					<li class="footer-menu__item"><a href="#">Наследственные дела</a></li>
					<li class="footer-menu__item"><a href="#">Труд и миграция</a></li>
					<li class="footer-menu__item"><a href="#">Защита прав потребителей</a></li>
					<li class="footer-menu__item"><a href="#">Брак и семья</a></li>
					<li class="footer-menu__item"><a href="#">Кредиты, ипотека</a></li>
					<li class="footer-menu__item"><a href="#">Медицина</a></li>
					<li class="footer-menu__item"><a href="#">Возмещения ущерба ДТП</a></li>
				</ul>
			</div>

			<div class="col-md-3 d-md-flex align-items-end flex-column">
				<div class="footer-contacts-wrap">
					<div class="footer__head">Контакты</div>

					<div class="footer-contacts">
						<div class="footer-contacts__item"><a href="tel:+74951222299">+7 (495) 122-22-99</a></div>

						<div class="footer-contacts__item">Пн-вс с 9:00 до 20:00</div>

						<div class="footer-contacts__item">
							Москва, ул. Каланчевская, 20
							<div class="footer-contacts__label">(напротив Мещанского суда)</div>
						</div>

						<div class="footer-contacts__item"><a href="mailto:info@lex-service.ru">info@lex-service.ru</a></div>
					</div>

					<div class="social">
						<a href="#" class="social__item social__item--youtube"></a>
						<a href="#" class="social__item social__item--vk"></a>
						<a href="#" class="social__item social__item--telegram"></a>
						<a href="#" class="social__item social__item--in"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Форма обратной связи -->
<div style="display: none;" id="feedback-form" class="popup-form">
	<form method="get" class="form-site form-site--vert js-valid-form">
		<div class="form-site__head">Оставьте заявку</div>

		<div class="form-site__text">И наши менеджеры свяжутся<br>с&nbsp;Вами в&nbsp;течении 15&nbsp;минут</div>

		<div class="form-site__content">
			<input type="text" placeholder="Ваше имя" data-icon="person" required="required">
			<input type="text" placeholder="Ваш телефон" data-icon="phone" class="js-phone" required="required">
			<input type="email" placeholder="Ваш e-mail" data-icon="email">

			<input type="submit" value="Отправить" class="btn">
		</div>
	</form>
</div>

<!-- Попап об успешной отправки письма -->
<div style="display: none;" id="msg-success" class="success-alert">
	<div class="success-alert__text">Ваше сообщение успешно отправлено!</div>
</div>