/*----------- bredcrumb -------------*/
.bredcrumb{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 12px 0;
	margin-bottom: 35px;

	&__item{
		display: inline-block;
		@include font(normal, normal, 17px, 1.25, $color-grey);
		position: relative;
	}

	&__item:not(:last-child){
		padding-right: 35px;
	}

	&__item:not(:last-child)::after{
		content: '\2014';
		color: $color-text;
		position: absolute;
		right: 10px;
		@include top-center;
	}
}

a.bredcrumb__item{
	color: $color-text;
	border-bottom: 0;
}

a.bredcrumb__item:hover{
	color: $color-brown;
}