/*-------------- category -----------------*/
.category{
	margin-bottom: 15px;
	
	&__item{
		display: flex;
		align-items: center;
		margin-bottom: 70px;
	}

	&__icon{
		width: 60px;
		margin-right: 30px;
	}

	&__name{
		width: calc(100% - 90px);
		max-width: 195px;
	}

	&__name,
	&__name a{
		@include font(normal, 700, 19px, 1.25, $color-text);
		border-bottom: 0;
	}

	&__name a:hover{
		color: $color-brown-light;
	}
}

@media (max-width: 767px) {
	.category{
		&__item{
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 575px) {
	.category{
		&__name{
			max-width: 100%;
		}
	}
}