/*-------------- contacts -----------------*/
.contacts{
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 100px;
	margin-bottom: 90px;

	.sidebar-info__head{
		font-size: 30px;
		margin-bottom: 10px;
	}

	.sidebar-info__item{
		padding: 25px 40px 18px;
	}

	.advant {
		margin-top: 60px;
	}
}

.company-details{
	@include font(normal, normal, 19px, 1.25, $color-text);

	&__title{
		font-weight: 700;
	}

	&__item:not(:last-child){
		margin-bottom: 16px;
	}
}