/*-------------- form-site -----------------*/
.form-site-wrap{
	&.bg-grey{
		padding: 50px 0 60px;
		margin-bottom: 80px;
	}

	&.bg-grey .form-site{
		margin-bottom: 0;
	}

	&.bg-grey .form-site .container{
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.form-site{
	margin-bottom: 85px;

	.container{
		padding-bottom: 95px;
		border-bottom: 1px solid #dadada;
	}
	
	&__head{
		@include font(normal, 700, 32px, 1.2, $color-text);
		letter-spacing: 0.5px;
	}

	&__text{
		@include font(normal, normal, 19px, 1.25, $color-text);
		letter-spacing: 0.3px;
		margin-top: 20px;
	}

	input[type="text"],
	input[type="email"],
	textarea{
		height: 50px;
		width: 100%;
		outline: none;
		border: 0;
		border-bottom: 1px solid #dadada;
		@include font(normal, normal, 16px, 48px, $color-text);
		padding: 0 10px 0 30px;
		margin: 0;
		margin-right: 50px;
	}

	textarea{
		height: 100px;
	}

	input[type="text"]::placeholder,
	input[type="email"]::placeholder,
	textarea::placeholder{
		color: $color-grey;
	}

	input[data-icon="person"]{background: url(#{$path-icons}/ic-person.svg) no-repeat 0 center;}
	input[data-icon="phone"]{background: url(#{$path-icons}/ic-call.svg) no-repeat 0 center;}
	input[data-icon="email"]{background: url(#{$path-icons}/ic-mail.svg) no-repeat 0 center;}

	&__content{
		display: flex;
		justify-content: space-between;
		flex: 1;
	}

	.btn{
		min-width: 250px;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	textarea:focus{
		border-color: $color-brown;
	}

	&--vert{
		padding: 0;
		margin: 0;
		border: 0;
	}

	&--vert &__head{
		@include font(normal, 700, 22px, 1.2, $color-text);
		text-align: center;
		letter-spacing: 0.2px;
		margin-bottom: 10px;
	}

	&--vert &__text{
		@include font(normal, normal, 17px, 1.25, $color-text);
		letter-spacing: 0.3px;
		text-align: center;
		margin-bottom: 15px;
		margin-top: 0;
	}

	&--vert &__content{
		display: block;
	}

	&--vert .btn{
		width: 100%;
		min-width: 100px;
	}

	&--vert input[type="text"],
	&--vert input[type="email"],
	&--vert textarea{
		margin: 0;
		margin-bottom: 20px;
	}

	&--vert .btn{
		margin-top: 20px;
	}
}

.form-site-radio{
	margin-bottom: 32px;
	
	&__label{
		@include font(normal, 700, 38px, 1.2, $color-text);
		letter-spacing: 0.3px;
		margin-bottom: 40px;
	}

	&__item{
		margin-bottom: 20px;
	}
}

.popup-form{
	width: 360px;
}

.success-alert{
	max-width: 360px;

	&__text{
		@include font(normal, normal, 19px, 1.25, $color-text);
		text-align: center;
	}
}