/*-------------- form-site -----------------*/
.form-site-wrap{
	&.bg-grey{
		padding: 50px 0 60px;
		margin-bottom: 80px;
	}

	&.bg-grey .form-site{
		margin-bottom: 0;
	}

	&.bg-grey .form-site .container{
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.form-site{
	margin-bottom: 85px;

	.container{
		padding-bottom: 95px;
		border-bottom: 1px solid #dadada;
	}

	&--no-indent .container{
		padding-bottom: 0;
		border-bottom: 0;
	}
	
	&__head{
		@include font(normal, 700, 32px, 1.2, $color-text);
		letter-spacing: 0.5px;
	}

	&__text{
		@include font(normal, normal, 19px, 1.25, $color-text);
		letter-spacing: 0.3px;
		margin-top: 20px;
	}

	input[type="text"],
	input[type="email"],
	textarea{
		height: 50px;
		width: 100%;
		outline: none;
		border: 0;
		border-bottom: 1px solid #dadada;
		@include font(normal, normal, 16px, 48px, $color-text);
		padding: 0 10px 0 30px;
		margin: 0;
		margin-right: 50px;
	}

	textarea{
		height: 120px;
	}

	input[type="text"]::placeholder,
	input[type="email"]::placeholder,
	textarea::placeholder{
		color: $color-grey;
	}

	input[data-icon="person"]{background: url(#{$path-icons}/ic-person.svg) no-repeat 0 center;}
	input[data-icon="phone"]{background: url(#{$path-icons}/ic-call.svg) no-repeat 0 center;}
	input[data-icon="email"]{background: url(#{$path-icons}/ic-mail.svg) no-repeat 0 center;}
	textarea[data-icon="phone"]{background: url(#{$path-icons}/ic-call.svg) no-repeat 0 15px;}

	&__content{
		display: flex;
		justify-content: space-between;
		flex: 1;
	}

	&__content--end{
		align-items: flex-end;
	}

	.btn{
		min-width: 250px;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	textarea:focus{
		border-color: $color-brown;
	}

	&--vert{
		padding: 0;
		margin: 0;
		border: 0;
	}

	&--vert &__head{
		@include font(normal, 700, 22px, 1.2, $color-text);
		text-align: center;
		letter-spacing: 0.2px;
		margin-bottom: 10px;
	}

	&--vert &__text{
		@include font(normal, normal, 17px, 1.25, $color-text);
		letter-spacing: 0.3px;
		text-align: center;
		margin-bottom: 15px;
		margin-top: 0;
	}

	&--vert &__content{
		display: block;
	}

	&--vert .btn{
		width: 100%;
		min-width: 100px;
	}

	&--vert input[type="text"],
	&--vert input[type="email"],
	&--vert textarea{
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}

	&--vert .btn{
		margin-top: 20px;
	}

	&__group{
		width: 100%;
		margin-right: 50px;
	}

	&__group input[type="text"],
	&__group input[type="email"],
	&__group textarea{
		margin-right: 0;
	}

	&__group input[type="text"]:not(:last-child),
	&__group input[type="email"]:not(:last-child),
	&__group textarea:not(:last-child){
		margin-bottom: 20px;
	}
}

.form-site-radio{
	margin-bottom: 32px;
	
	&__label{
		@include font(normal, 700, 38px, 1.2, $color-text);
		letter-spacing: 0.3px;
		margin-bottom: 40px;
	}

	&__item{
		margin-bottom: 20px;
	}
}

.popup-form{
	width: 360px;
}

.success-alert{
	max-width: 360px;

	&__text{
		@include font(normal, normal, 19px, 1.25, $color-text);
		text-align: center;
	}
}

@media (max-width: 1349px) {
	.form-site{
		input[type="text"],
		input[type="email"],
		textarea{
			width: 180px;
			margin-right: 30px;
		}

		&--vert input[type="text"],
		&--vert input[type="email"],
		&--vert textarea{
			width: 100%;
			margin: 0;
			margin-bottom: 20px;
		}

		.btn,
		input[type="submit"].btn{
			min-width: 180px;
			padding: 0 15px;
		}

		&--vert .btn,
		&--vert input[type="submit"].btn{
			min-width: 100%;
		}
	}
}

@media (max-width: 991px) {
	.form-site{
		&__info{
			margin-bottom: 20px;
		}

		input[type="text"],
		input[type="email"],
		textarea{
			width: 100%;
		}
	}
}

@media (max-width: 767px) {
	.form-site{
		margin-bottom: 45px;

		&__head{
			font-size: 28px;
		}
		
		&__content{
			display: block;
		}

		input[type="text"],
		input[type="email"],
		textarea{
			margin-right: 0;
			margin-bottom: 20px;
		}

		.btn,
		input[type="submit"].btn{
			width: auto;
			padding: 0 20px;
		}

		.container{
			padding-bottom: 50px;
		}

		&--vert{
			margin-bottom: 0;
		}

		&--vert &__head{
			font-size: 24px;
		}

		&--vert &__text{
			font-size: 17px;
		}
	}

	.form-site-radio{
		&__label{
			font-size: 32px;
		}
	}
}