/*-------------- fonts -----------------*/
@font-face {
	font-family: 'Futura Bk BT';
	src: url('#{$path-fonts}/Futura BT/FuturaRegular.eot');
	src: local('Futura Regular'), local('FuturaRegular'),
		url('#{$path-fonts}/Futura BT/FuturaRegular.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Futura BT/FuturaRegular.woff') format('woff'),
		url('#{$path-fonts}/Futura BT/FuturaRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Bk BT';
	src: url('#{$path-fonts}/Futura BT/FuturaItalic.eot');
	src: local('Futura Italic'), local('FuturaItalic'),
		url('#{$path-fonts}/Futura BT/FuturaItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Futura BT/FuturaItalic.woff') format('woff'),
		url('#{$path-fonts}/Futura BT/FuturaItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Bk BT';
	src: url('#{$path-fonts}/Futura BT/FuturaBold.eot');
	src: local('Futura Bold'), local('FuturaBold'),
		url('#{$path-fonts}/Futura BT/FuturaBold.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Futura BT/FuturaBold.woff') format('woff'),
		url('#{$path-fonts}/Futura BT/FuturaBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Bk BT';
	src: url('#{$path-fonts}/Futura BT/FuturaBoldItalic.eot');
	src: local('Futura Bold Italic'), local('FuturaBoldItalic'),
		url('#{$path-fonts}/Futura BT/FuturaBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Futura BT/FuturaBoldItalic.woff') format('woff'),
		url('#{$path-fonts}/Futura BT/FuturaBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Futura Bk BT';
	src: url('#{$path-fonts}/Futura BT/FuturaMedium.eot');
	src: local('Futura Medium'), local('FuturaMedium'),
		url('#{$path-fonts}/Futura BT/FuturaMedium.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Futura BT/FuturaMedium.woff') format('woff'),
		url('#{$path-fonts}/Futura BT/FuturaMedium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Bk BT';
	src: url('#{$path-fonts}/Futura BT/FuturaMediumItalic.eot');
	src: local('Futura Bold Italic'), local('FuturaMediumItalic'),
		url('#{$path-fonts}/Futura BT/FuturaMediumItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/Futura BT/FuturaMediumItalic.woff') format('woff'),
		url('#{$path-fonts}/Futura BT/FuturaMediumItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}