//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-open-calibri: 'Calibri', Arial, sans-serif;
$font-helvetica: 'HelveticaNeueCyr', Arial, sans-serif;
$font-cyrillicgaramond: 'cyrillicgaramond', 'Times New Roman', Times, serif;

// Site
$color-text: #000;
$color-grey: #818181;
$color-grey-light: #bfbfbf;
