//Path
$path-img: "../img";
$path-icons: "../img/icon";
$path-fonts: "../fonts";

//Font
// $font-futura: 'Futura', Arial, sans-serif;
// $font-futura-book: 'FuturaBookC', Arial, sans-serif;
$font-futura: 'Futura Bk BT', Arial, sans-serif;

// Site
$color-text: #222;
$color-brown: #d6aa6d;
$color-brown-light: #E6B775;
$color-grey: #a2a2a2;
