<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Корзина</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb d-none d-md-flex">
								<a href="/" class="bredcrumb__item"><img src="img/icon/ic-home.svg" alt=""></a>
								<span class="bredcrumb__item">Корзина</span>
							</div>
						</div>
					</div>
				</div>

				<div class="basket">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-xl-9">
								<div class="basket__content">
									<div class="basket__head">
										<h1>Корзина</h1>

										<a href="#" class="link-back">Вернуться в каталог</a>
									</div>

									<div class="basket-list">
										<div class="basket-list">
											<div class="basket-list__item">
												<div class="basket-list__img"><img src="img/cat-services8.svg" alt=""></div>

												<div class="basket-list__text">Взыскание алиментов на нетрудоспособного члена семьи (комплексная услуга)</div>

												<div class="basket-list__price">27 697 руб</div>

												<a href="#" class="basket-list__close"></a>
											</div>

											<div class="basket-list__item">
												<div class="basket-list__img"><img src="img/cat-services2.svg" alt=""></div>

												<div class="basket-list__text">Сбор документов и доказательствпри взыскании алиментов на детей</div>

												<div class="basket-list__price">7 697 руб</div>

												<a href="#" class="basket-list__close"></a>
											</div>

											<div class="basket-list__item">
												<div class="basket-list__img"><img src="img/cat-services7.svg" alt=""></div>

												<div class="basket-list__text">Заверить документ у нотариуса</div>

												<div class="basket-list__price">5 000 руб</div>

												<a href="#" class="basket-list__close"></a>
											</div>
										</div>
									</div><!-- end basket-list -->

									<form method="get" class="form-site form-site--vert">
										<div class="form-site-radio">
											<div class="form-site-radio__label">Выберите способ оказания услуги</div>

											<div class="form-site-radio__fields">
												<div class="row align-items-center">
													<div class="col-md-6">
														<div class="form-site-radio__item">
															<div class="input-radio input-radio--img">
																<input type="radio" id="radio1" name="param1">
																<label for="radio1" class="input-radio__label">
																	<div class="input-radio__mark"></div>

																	<div class="input-radio__img">
																		<img src="img/radio1.svg" alt="" class="input-radio__img-inactive">

																		<img src="img/radio1-active.svg" alt="" class="input-radio__img-active">
																	</div>

																	<div class="input-radio__text">Дистанционно - через портал юридических услуг</div>
																</label>
															</div>
														</div>
													</div>
												
													<div class="col-md-6">
														<div class="form-site-radio__item">
															<div class="input-radio input-radio--img">
																<input type="radio" id="radio2" name="param1" checked="checked">
																<label for="radio2" class="input-radio__label">
																	<div class="input-radio__mark"></div>

																	<div class="input-radio__img">
																		<img src="img/radio2.svg" alt="" class="input-radio__img-inactive">

																		<img src="img/radio2-active.svg" alt="" class="input-radio__img-active">
																	</div>

																	<div class="input-radio__text">В офисе Юруслуг24</div>
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="form-site-radio">
											<div class="form-site-radio__label">Выберите способ оплаты</div>

											<div class="form-site-radio__fields">
												<div class="row align-items-center">
													<div class="col-md-6">
														<div class="form-site-radio__item">
															<div class="input-radio input-radio--img">
																<input type="radio" id="radio3" name="param2" checked="checked">
																<label for="radio3" class="input-radio__label">
																	<div class="input-radio__mark"></div>

																	<div class="input-radio__img">
																		<img src="img/radio3.svg" alt="" class="input-radio__img-inactive">

																		<img src="img/radio3-active.svg" alt="" class="input-radio__img-active">
																	</div>

																	<div class="input-radio__text">Наличными при встречег</div>
																</label>
															</div>
														</div>
													</div>
												
													<div class="col-md-6">
														<div class="form-site-radio__item">
															<div class="input-radio input-radio--img">
																<input type="radio" id="radio4" name="param2">
																<label for="radio4" class="input-radio__label">
																	<div class="input-radio__mark"></div>

																	<div class="input-radio__img">
																		<img src="img/radio4.svg" alt="" class="input-radio__img-inactive">

																		<img src="img/radio4-active.svg" alt="" class="input-radio__img-active">
																	</div>

																	<div class="input-radio__text">Онлайн оплата картой</div>
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>

							<div class="col-lg-4 col-xl-3">
								<aside class="sidebar-info">
									<div class="sidebar-info__item">
										<div class="sidebar-info__head">Итогоговая сумма</div>

										<div class="sidebar-info__price">40 394 руб</div>
									</div>

									<div class="sidebar-info__item">
										<form method="get" class="form-site form-site--vert js-valid-form">
											<div class="form-site__head">Оформления заказа</div>

											<div class="form-site__content">
												<input type="text" placeholder="Ваше имя" data-icon="person" required="required">
												<input type="text" placeholder="Ваш телефон" data-icon="phone" class="js-phone" required="required">
												<input type="email" placeholder="Ваш e-mail" data-icon="email">

												<input type="submit" value="Оформить заказ" class="btn">
											</div>
										</form>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>

				//= ../partial/steps.html

				//= ../partial/difficult-order.html

				//= ../partial/map.html
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
