<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Комплексная услуга</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb d-none d-md-flex">
								<a href="/" class="bredcrumb__item"><img src="img/icon/ic-home.svg" alt=""></a>
								<a href="#" class="bredcrumb__item">Физическим лицам</a>
								<a href="#" class="bredcrumb__item">Брак и семья</a>
								<span class="bredcrumb__item">Взыскание алиментов на нетрудоспособного члена семьи</span>
							</div>
						</div>
					</div>
				</div>

				<div class="service-page">
					<div class="container">
						<div class="row">
							<div class="col-9">
								<div class="service-page__content">
									<h1>Взыскание алиментов на нетрудоспособного члена семьи</h1>

									//= ../partial/service-nav.html

									<section class="service-page__desc">
										<div id="cat-desc"></div>

										<div class="h2">Описание услуги</div>

										<p>Услуга необходима, если родитель не предоставляет содержание на нетрудоспособного совершеннолетнего члена семьи и требуется юридическое сопровождение при взыскании алиментов.</p>

										<p>Услуга предполагает участие юриста  на каждой стадии судебного разбирательства в суде первой инстанции как при составлении и подачи иска, так и при рассмотрении дела о взыскании алиментов на нетрудоспособного совершеннолетнего члена семьи в суде, как на стороне истца, так и на стороне ответчика.</p>
									</section>

									<section class="service-page__services">
										<div id="service-list"></div>

										<div class="h2">В состав комплексной услуги входят</div>

										<div class="cat-services">
											<div class="cat-services__item">
												<div class="cat-services__img"><img src="img/cat-services1.svg" alt=""></div>

												<div class="cat-services__text">Анализ ситуации и оценка правовой перспективы при взыскании алиментов на нетрудоспособного совершеннолетнего члена семьи</div>

												<div class="cat-services__price">3 000 руб</div>

												<a href="#" class="btn btn--border">Заказать</a>
											</div>

											<div class="cat-services__item">
												<div class="cat-services__img"><img src="img/cat-services2.svg" alt=""></div>

												<div class="cat-services__text">Сбор документов и доказательств при взыскании алиментов на нетрудоспособного совершеннолетнего члена семьи</div>

												<div class="cat-services__price">5 000 руб</div>

												<a href="#" class="btn btn--border">Заказать</a>
											</div>

											<div class="cat-services__item">
												<div class="cat-services__img"><img src="img/cat-services3.svg" alt=""></div>

												<div class="cat-services__text">Проведение переговоров при взыскании алиментов на нетрудоспособного совершеннолетнего члена семьи</div>

												<div class="cat-services__price">7 000 руб</div>

												<a href="#" class="btn btn--border">Заказать</a>
											</div>

											<div class="cat-services__item">
												<div class="cat-services__img"><img src="img/cat-services4.svg" alt=""></div>

												<div class="cat-services__text">Исковое заявление о взыскании алиментов на нетрудоспособного совершеннолетнего члена семьи/ Возражения на исковое заявление</div>

												<div class="cat-services__price">1 000 руб</div>

												<a href="#" class="btn btn--border">Заказать</a>
											</div>

											<div class="cat-services__item">
												<div class="cat-services__img"><img src="img/cat-services5.svg" alt=""></div>

												<div class="cat-services__text">Составление процессуальных документов при взыскании алиментов на нетрудоспособного совершеннолетнего члена семьи</div>

												<div class="cat-services__price">4 000 руб</div>

												<a href="#" class="btn btn--border">Заказать</a>
											</div>

											<div class="cat-services__item">
												<div class="cat-services__img"><img src="img/cat-services6.svg" alt=""></div>

												<div class="cat-services__text">Представление интересов в суде по делу о взыскании алиментов на нетрудоспособного совершеннолетнего члена семьи</div>

												<div class="cat-services__price">5 000 руб</div>

												<a href="#" class="btn btn--border">Заказать</a>
											</div>
										</div>
									</section>

									//= ../partial/services-add.html

									//= ../partial/procedure.html

									<section class="service-page__time">
										<div id="cat-time"></div>

										<div class="h2">Сроки указания</div>

										<ul>
											<li><b>Анализ информации (документов) и оценка правовой перспективы</b> - не позднее 3 дней с момента предоставления всех необходимых документов и оплаты; </li>

											<li><b>Сбор документов (при отсутствии документов, необходимых для обращения в суд):</b>
												<ul>
													<li>составление обращения по вопросу предоставления документов (доказательств) - не позднее 3 дней с момента согласования с Клиентом;</li>

													<li>подача обращения обращение - не позднее следующего дня после подписания клиентом;</li>

													<li>получение ответа на обращение -  в назначенный день и время (при условии готовности);</li>
												</ul>
											</li>

											<li><b>Проведение переговоров по вопросу урегулирования разногласий в досудебном порядке (по желанию стороны спора)</b> - в согласованный сторонами день и время;</li>

											<li><b>Исковое производство:</b>
												<ul>
													<li>составление искового заявления или возражений на исковое заявление и направление на согласование клиенту - не позднее 3 дней с момента получения всех необходимых документов;  </li>

													<li>подача искового заявления или возражений на исковое заявление в суд - не позднее 2 дней с момента передачи подписанного Клиентом документа; </li>
												</ul>
											</li>

											<li><b>Составление процессуальных документов:</b>
												<ul>
													<li>составление процессуальных документов - не позднее 3 дней с момента получения всех необходимых документов; </li>

													<li>подача процессуальных документов - не позднее 3 дней с момента передачи подписанного Клиентом  документа; </li>
												</ul>
											</li>

											<li><b>Представление интересов в суде</b> - в назначенный судом день и время; </li>

											<li><b>Ознакомление с материалами дела</b> - в назначенный судом день и время; </li>

											<li><b>Получение копии судебного акта</b> - в назначенный судом день и время; </li>

											<li><b>Предоставление судебной информации</b> - не позднее 2 дней с момента получения; </li>

											<li><b>Юридическая консультация</b> - в офисе клиента, в согласованный сторонами день и время, но не позднее 3 дней с момента обращения;</li>
										</ul>
									</section>

									<section class="service-page__docs">
										<div id="cat-docs"></div>

										<div class="h2">Документы и акты</div>

										<div class="docs-list">
											<div class="docs-list__item">Копия медицинского заключения</div>

											<div class="docs-list__item">Копии свидетельств о рождении детей</div>

											<div class="docs-list__item">Копия свидетельства о заключении брака</div>

											<div class="docs-list__item">Справка о доходах должника (при наличии)</div>

											<div class="docs-list__item">Заключение и рекомендации лечащего врача</div>

											<div class="docs-list__item">Иные документы, подтверждающие доход должника (при наличии)</div>

											<div class="docs-list__item">Медицинская справка об инвалидности (при наличии инвалидности)</div>

											<div class="docs-list__item">Справка о размере пенсии по инвалидности и компенсации по уходу за ребенком- инвалидом</div>
										</div>
									</section>

									<section class="service-page__result">
										<div id="cat-result"></div>

										<div class="h2">Результат</div>

										<div class="advant advant--hor">
											<div class="row align-items-center">
												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant9.svg" alt=""></div>

														<div class="advant__text">Исковое заявление или возражение на исковое заявление с отметкой суда о принятии</div>
													</div>
												</div>

												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant10.svg" alt=""></div>

														<div class="advant__text">Процессуальные документы (заявления, ходатайства, частные жалоб и другие)</div>
													</div>
												</div>

												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant11.svg" alt=""></div>

														<div class="advant__text">Протокол переговоров или акт о невозможности проведения переговоров </div>
													</div>
												</div>

												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant12.svg" alt=""></div>

														<div class="advant__text">Информационная справка по результатам получения судебной информации</div>
													</div>
												</div>

												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant13.svg" alt=""></div>

														<div class="advant__text">Обращение и ответ на обращение по вопросу предоставления документа</div>
													</div>
												</div>

												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant14.svg" alt=""></div>

														<div class="advant__text">Информационная справка о результатах судебного заседания</div>
													</div>
												</div>

												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant15.svg" alt=""></div>

														<div class="advant__text">Копии судебных актов (определения суда, решение суда);</div>
													</div>
												</div>

												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant16.svg" alt=""></div>

														<div class="advant__text">Материалы дела на оптическом диске (<b>CD-R</b>);</div>
													</div>
												</div>

												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant17.svg" alt=""></div>

														<div class="advant__text">Заключение о правовой перспективе;</div>
													</div>
												</div>

												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant18.svg" alt=""></div>

														<div class="advant__text">Протоколы встреч с Клиентом;</div>
													</div>
												</div>
											</div>
										</div><!-- end advant -->
									</section>

									<section class="service-page-cost">
										<div class="service-page-cost__head">Стоимость <br>комплексной услуги</div>

										<div class="service-page-cost__price">27 697 руб</div>

										<a href="#" class="btn">Заказать</a>
									</section>
								</div>
							</div>

							<div class="col-3">
								<aside class="sidebar-info">
									<div class="sidebar-info__item">
										<div class="sidebar-info__head">Комплексная услуга</div>

										<div class="sidebar-info__text">
											<p>Это значит, что услуга состоит из нескольких услуг. Вы можете заказать услуги по отдельности или взять сразу комплекс.</p>

											<p>Комплексные услуги - стоят дешевле, чем отдельные услуги в итоге</p>
										</div>
									</div>

									<div class="sidebar-info__item">
										<div class="sidebar-info__head">Стоимость</div>

										<div class="sidebar-info__text">Цена услуг по отдельности:</div>

										<div class="sidebar-info__old-price">38 697 руб</div>

										<div class="sidebar-info__text">Цена комплексной услуги:</div>

										<div class="sidebar-info__price">27 697 руб</div>

										<a href="#" class="btn">Заказать</a>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>

				//= ../partial/form-site.html

				//= ../partial/difficult-order.html

				//= ../partial/map.html
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
