<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Комплексная услуга</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb d-none d-md-flex">
								<a href="/" class="bredcrumb__item"><img src="img/icon/ic-home.svg" alt=""></a>
								<a href="#" class="bredcrumb__item">Физическим лицам</a>
								<a href="#" class="bredcrumb__item">Брак и семья</a>
								<span class="bredcrumb__item">Взыскание алиментов на нетрудоспособного члена семьи</span>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="catalog-head">
								<div class="h1 h-text-center">Брак и семья</div>

								<div class="catalog-head__text">Выберите интересующую вас услугу</div>
							</div>
						</div>
					</div>
				</div>

				//= ../partial/category.html

				//= ../partial/form-site.html

				//= ../partial/steps.html

				//= ../partial/difficult-order.html

				//= ../partial/map.html
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
