<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Контакты</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb d-none d-md-flex">
								<a href="/" class="bredcrumb__item"><img src="img/icon/ic-home.svg" alt=""></a>
								<span class="bredcrumb__item">Контакты</span>
							</div>
						</div>
					</div>
				</div>

				<div class="contacts">
					<div class="container">
						<div class="row">
							<div class="col-8">
								<div class="contacts__content">
									<h1>Контакты</h1>

									<div class="advant advant--hor">
										<div class="row align-items-center">
											<div class="col-6">
												<div class="advant__item">
													<div class="advant__icon"><img src="img/advant7.svg" alt=""></div>

													<div class="advant__text">ул. Каланчевская, 20, Москва, 119019, Россия</div>
												</div>
											</div>

											<div class="col-6">
												<div class="advant__item">
													<div class="advant__icon"><img src="img/advant19.svg" alt=""></div>

													<div class="advant__text">
														+7(499) 322-99-01,<br>
														+8(800) 200-99-01
													</div>
												</div>
											</div>

											<div class="col-6">
												<div class="advant__item">
													<div class="advant__icon"><img src="img/advant20.svg" alt=""></div>

													<div class="advant__text">
														Пн.-Вс. 9.00-20.00<br>
														<span style="font-weight: normal;">(без перерыров и выходных)</span>
													</div>
												</div>
											</div>

											<div class="col-6">
												<div class="advant__item">
													<div class="advant__icon"><img src="img/advant21.svg" alt=""></div>

													<div class="advant__text">
														Support@abaddir.ru
													</div>
												</div>
											</div>
										</div>
									</div><!-- end advant -->

									<div class="contacts__text">
										<p>В каталог юридических услуг включены услуги, оказываемые юристами и адвокатами. Католог юридических услуг ежедневно обновляется. Навигация в каталоге организована таким образом, чтобы вы могли быстро найти нужную юридическую услугу, ознакомиться с условиями и порядком ее предоставления.</p>

										<p>Каталог содержит наиболее стандартные юридические услуги. Нестандартные юридические услуги могут быть оказаны нашим ...</p>
									</div>
								</div>
							</div>

							<div class="col-4">
								<aside class="sidebar-info">
									<div class="sidebar-info__item">
										<div class="sidebar-info__head">Реквизиты компании:</div>

										<div class="company-details">
											<div class="company-details__item">Общество с ограниченной ответственностью (ООО) «Юруслуги 24»</div>

											<div class="company-details__item"><span class="company-details__title">Юридический адрес:</span> 129090, г. Москва, ул. Каланчевская, д.20/5, офис 2А</div>

											<div class="company-details__item"><span class="company-details__title">Фактический адрес:</span> 129090, г.Москва, ул. Каланчевская, д.20/5, офис 2А</div>

											<div class="company-details__item"><span class="company-details__title">ИНН</span> 7708324171</div>

											<div class="company-details__item"><span class="company-details__title">КПП</span> 770801001</div>

											<div class="company-details__item"><span class="company-details__title">ОГРН</span> 1177746872665</div>

											<div class="company-details__item"><span class="company-details__title">Расчетный счет:</span> 40702810401890000306 в АО "АЛЬФА-БАНК"</div>

											<div class="company-details__item"><span class="company-details__title">К/с:</span> 30101810200000000593 в ГУ БАНКА РОССИИ ПО ЦФО</div>

											<div class="company-details__item"><span class="company-details__title">БИК:</span> 044525593</div>
										</div>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>

				<section class="form-site-wrap">
					<form method="get" class="form-site form-site--no-indent js-valid-form">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-4">
									<div class="form-site__info">
										<div class="form-site__head">Остались вопросы и&nbsp;нужна помощь</div>
										<div class="form-site__text">Напишите нам и мы ответим на все вопросы!</div>
									</div>
								</div>

								<div class="col-8">
									<div class="form-site__content form-site__content--end">
										<div class="form-site__group">
											<input type="text" placeholder="Ваше имя" data-icon="person">
											<input type="text" placeholder="Ваш телефон" data-icon="phone" class="js-phone" required="required">
										</div>

										<textarea placeholder="Ваше сообщение" data-icon="phone"></textarea>

										<input type="submit" value="Отправить заявку" class="btn">
									</div>
								</div>
							</div>
						</div>
					</form>
				</section>
				//= ../partial/map.html
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
