<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Отдельная услуга</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb d-none d-md-flex">
								<a href="/" class="bredcrumb__item"><img src="img/icon/ic-home.svg" alt=""></a>
								<a href="#" class="bredcrumb__item">Физическим лицам</a>
								<a href="#" class="bredcrumb__item">Брак и семья</a>
								<span class="bredcrumb__item">Сбор документов и доказательств при взыскании алиментов на детей</span>
							</div>
						</div>
					</div>
				</div>

				<div class="service-page">
					<div class="container">
						<div class="row">
							<div class="col-9">
								<div class="service-page__content">
									<h1>Сбор документов и доказательств при взыскании алиментов на детей</h1>

									//= ../partial/service-nav.html

									<section class="service-page__desc">
										<div id="cat-desc"></div>

										<div class="h2">Описание услуги</div>

										<p>Услуга необходима, если родитель не предоставляет содержание на несовершеннолетнего ребенка или детей, требуется собрать и сформировать перечень  документов и доказательств, необходимых для представления в суд.</p>

										<p>Услуга предполагает составление юристом запросов и обращений и получение по результатам рассмотрения документов и доказательств для дальнейшего представления в суд.</p>
									</section>

									<div id="service-list"></div>

									//= ../partial/services-add.html

									//= ../partial/procedure.html

									<section class="service-page__time">
										<div id="cat-time"></div>

										<div class="h2">Сроки указания</div>

										<ul>
											<li><b>Анализ информации (документов) и оценка правовой перспективы</b> - не позднее 3 дней с момента предоставления всех необходимых документов и оплаты; </li>

											<li><b>Получение ответа на обращение</b> - в назначенный день и время (при условии готовности);</li>

											<li><b>Подача обращения</b> - не позднее следующего дня после подписания клиентом.</li>

										</ul>
									</section>

									<section class="service-page__docs">
										<div id="cat-docs"></div>

										<div class="h2">Документы и акты</div>

										<div class="docs-list">
											<div class="docs-list__item">Копия свидетельства о заключении брака</div>

											<div class="docs-list__item">Копии свидетельств о рождении детей</div>

											<div class="docs-list__item">Доверенность</div>
										</div>
									</section>

									<section class="service-page__result">
										<div id="cat-result"></div>

										<div class="h2">Результат</div>

										<div class="advant advant--hor">
											<div class="row align-items-center">
												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant17.svg" alt=""></div>

														<div class="advant__text">Обращение с отметкой о направлении (если документы направлены по почте либо с помощью электронного сервиса) либо обращение с отметкой о принятии документов (если документы поданы нарочно);</div>
													</div>
												</div>

												<div class="col-6">
													<div class="advant__item">
														<div class="advant__icon"><img src="img/advant11.svg" alt=""></div>

														<div class="advant__text">Запрошенный документ (доказательство) или ответ на обращение;</div>
													</div>
												</div>
											</div>
										</div><!-- end advant -->
									</section>

									<section class="service-page-cost">
										<div class="service-page-cost__head">Стоимость <br>комплексной услуги</div>

										<div class="service-page-cost__price">7 697 руб</div>

										<a href="#" class="btn">Заказать</a>
									</section>
								</div>
							</div>

							<div class="col-3">
								<aside class="sidebar-info">
									<div class="sidebar-info__item">
										<div class="sidebar-info__head">Стоимость</div>

										<div class="sidebar-info__price">7 697 руб</div>

										<a href="#" class="btn">Заказать</a>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div>

				//= ../partial/form-site.html

				//= ../partial/difficult-order.html

				//= ../partial/map.html
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
