<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Частые вопросы</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb d-none d-md-flex">
								<a href="/" class="bredcrumb__item"><img src="img/icon/ic-home.svg" alt=""></a>
								<span class="bredcrumb__item">Частые вопросы</span>
							</div>
						</div>
					</div>
				</div>

				<div class="faq">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="h1 h-text-center">Частые вопросы</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Моя компания только недавно создана, я не могу предоставить некоторые документы. Что делать?</div>

									<div class="unwrap-block__content js-unwrap-content">
										<p>В таком случае компания может заменить следующие документы:</p>

										<ul class="list-line">
											<li>лист записи ЕГРЮЛ вместо свидетельства о государственной регистрации;</li>

											<li>промежуточную бухгалтерскую отчетность (за последний отчетный период – квартал/полгода) за подписью руководителя вместо заверенной налоговым органом годовой отчетности;</li>
											
											<li>В случае создания (реорганизации) организации документ «сведения о среднесписочной численности» подается не позднее 20-го числа месяца, следующего за месяцем, в котором организация была создана (реорганизована). Поэтому документ должен быть предоставлен с отметкой налоговой в любом случае.</li>
										</ul>
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">В анкете необходимо указать опыт деятельности, но условиями договора прописано, что информация конфиденциальна. Как мне заполнить данный пункт?</div>

									<div class="unwrap-block__content js-unwrap-content">
										<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

										<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Запрашиваемая информация относится к коммерческой тайне. Что мне предоставить?</div>

									<div class="unwrap-block__content js-unwrap-content">
										<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

										<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Моя компания уже является/являлась потенциальным подрядчиком ПАО «ГК «ПИК», какие документы необходимо предоставить для прохождения повторной аккредитации?</div>

									<div class="unwrap-block__content js-unwrap-content">
										<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

										<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Я не могу отсканировать документы в один файл. Что мне делать?</div>

									<div class="unwrap-block__content js-unwrap-content">
										<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

										<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Моя заявка отклонена по причине отсутствия выписки СРО/лицензии/аттестата. Что мне делать?</div>

									<div class="unwrap-block__content js-unwrap-content">
										<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

										<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
									</div>
								</div>

								<div class="unwrap-block js-unwrap-block">
									<div class="unwrap-block__head js-unwrap-head">Моя компания занимается предоставление услуг или поставками материала, требуется ли нам предоставление выписки из реестра СРО?</div>

									<div class="unwrap-block__content js-unwrap-content">
										<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

										<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				//= ../partial/map.html
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
