<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="top-slider js-top-slider">
					<div class="top-slider__item" style="background-image: url(img/top-slide.jpg);">
						<div class="container">
							<div class="row">
								<div class="col-12 d-flex align-items-center justify-content-center flex-column">
									<div class="top-slider__content">
										<div class="top-slider__head">Новый формат заказа юридических услуг!</div>

										<div class="top-slider__text">Туперь вы сразу знаете стоимость вашей услуги и больше не переплачиваеет. Все цены прозрачны и понятны</div>

										<a href="#" class="btn">Узнать подробнее</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="top-slider__item" style="background-image: url(img/top-slide.jpg);">
						<div class="container">
							<div class="row">
								<div class="col-12 d-flex align-items-center justify-content-center flex-column">
									<div class="top-slider__content">
										<div class="top-slider__head">Новый формат заказа юридических услуг 2!</div>

										<div class="top-slider__text">Туперь вы сразу знаете стоимость вашей услуги и больше не переплачиваеет. Все цены прозрачны и понятны</div>

										<a href="#" class="btn">Узнать подробнее</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="top-slider__item" style="background-image: url(img/top-slide.jpg);">
						<div class="container">
							<div class="row">
								<div class="col-12 d-flex align-items-center justify-content-center flex-column">
									<div class="top-slider__content">
										<div class="top-slider__head">Новый формат заказа юридических услуг 3!</div>

										<div class="top-slider__text">Туперь вы сразу знаете стоимость вашей услуги и больше не переплачиваеет. Все цены прозрачны и понятны</div>

										<a href="#" class="btn">Узнать подробнее</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- end top-slider -->

				<!-- <div class="container">
					<div class="row">
						<div class="col-12">
							<p>Основной текст</p>
						</div>
					</div>
				</div> -->
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
