<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Новости</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb d-none d-md-flex">
								<a href="/" class="bredcrumb__item"><img src="img/icon/ic-home.svg" alt=""></a>
								<span class="bredcrumb__item">Новости</span>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="h1 h-text-center">Новости</div>

							<div class="main-news">
								<div class="main-news__preview" style="background-image: url(img/main-news.jpg);"></div>

								<div class="main-news__desc">
									<div class="main-news__top">
										<div class="main-news__img" style="background-image: url(img/team1.jpg);"></div>

										<div class="main-news__author">Юрий Бирюков</div>
									</div>

									<div class="main-news__name"><a href="#">Что инспектирует Роспотребнадзор при целевом контроле? </a></div>

									<div class="main-news__copyright">
										<div class="main-news__tag">#Налоги</div>

										<time class="main-news__date">21.03.2019</time>
									</div>
								</div>
							</div>

							<div class="news">
								<article class="news__item">
									<div class="news__top">
										<div class="news__img" style="background-image: url(img/team1.jpg);"></div>

										<div class="news__info">
											<div class="news__author">Юрий Бирюков</div>

											<div class="news__name"><a href="#">Как предотвратить риски спора с налоговым органом</a></div>
										</div>
									</div>

									<div class="news__preview" style="background-image: url(img/news1.jpg);">
										<div class="news__copyright">
											<div class="news__tag">#Налоги</div>

											<time class="news__date">21.03.2019</time>
										</div>
									</div>
								</article>

								<article class="news__item">
									<div class="news__top">
										<div class="news__img" style="background-image: url(img/team1.jpg);"></div>

										<div class="news__info">
											<div class="news__author">Юрий Бирюков</div>

											<div class="news__name"><a href="#">Все усыновители детей будут получать оплачиваемый отпуск</a></div>
										</div>
									</div>

									<div class="news__preview" style="background-image: url(img/news2.jpg);">
										<div class="news__copyright">
											<div class="news__tag">#Частная_жизнь</div>

											<time class="news__date">14.03.2019</time>
										</div>
									</div>
								</article>

								<article class="news__item">
									<div class="news__top">
										<div class="news__img" style="background-image: url(img/team2.jpg);"></div>

										<div class="news__info">
											<div class="news__author">Василий Григоренко</div>

											<div class="news__name"><a href="#">Изменена процедура лицензирования банков</a></div>
										</div>
									</div>

									<div class="news__preview" style="background-image: url(img/news3.jpg);">
										<div class="news__copyright">
											<div class="news__tag">#Банки</div>

											<time class="news__date">27.02.2019</time>
										</div>
									</div>
								</article>

								<article class="news__item">
									<div class="news__top">
										<div class="news__img" style="background-image: url(img/team2.jpg);"></div>

										<div class="news__info">
											<div class="news__author">Василий Григоренко</div>

											<div class="news__name"><a href="#">Изменена процедура лицензирования банков</a></div>
										</div>
									</div>

									<div class="news__preview" style="background-image: url(img/news3.jpg);">
										<div class="news__copyright">
											<div class="news__tag">#Банки</div>

											<time class="news__date">27.02.2019</time>
										</div>
									</div>
								</article>

								<article class="news__item">
									<div class="news__top">
										<div class="news__img" style="background-image: url(img/team1.jpg);"></div>

										<div class="news__info">
											<div class="news__author">Юрий Бирюков</div>

											<div class="news__name"><a href="#">Как предотвратить риски спора с налоговым органом</a></div>
										</div>
									</div>

									<div class="news__preview" style="background-image: url(img/news1.jpg);">
										<div class="news__copyright">
											<div class="news__tag">#Налоги</div>

											<time class="news__date">21.03.2019</time>
										</div>
									</div>
								</article>

								<article class="news__item">
									<div class="news__top">
										<div class="news__img" style="background-image: url(img/team1.jpg);"></div>

										<div class="news__info">
											<div class="news__author">Юрий Бирюков</div>

											<div class="news__name"><a href="#">Все усыновители детей будут получать оплачиваемый отпуск</a></div>
										</div>
									</div>

									<div class="news__preview" style="background-image: url(img/news2.jpg);">
										<div class="news__copyright">
											<div class="news__tag">#Частная_жизнь</div>

											<time class="news__date">14.03.2019</time>
										</div>
									</div>
								</article>

								<article class="news__item">
									<div class="news__top">
										<div class="news__img" style="background-image: url(img/team1.jpg);"></div>

										<div class="news__info">
											<div class="news__author">Юрий Бирюков</div>

											<div class="news__name"><a href="#">Все усыновители детей будут получать оплачиваемый отпуск</a></div>
										</div>
									</div>

									<div class="news__preview" style="background-image: url(img/news2.jpg);">
										<div class="news__copyright">
											<div class="news__tag">#Частная_жизнь</div>

											<time class="news__date">14.03.2019</time>
										</div>
									</div>
								</article>

								<article class="news__item">
									<div class="news__top">
										<div class="news__img" style="background-image: url(img/team2.jpg);"></div>

										<div class="news__info">
											<div class="news__author">Василий Григоренко</div>

											<div class="news__name"><a href="#">Изменена процедура лицензирования банков</a></div>
										</div>
									</div>

									<div class="news__preview" style="background-image: url(img/news3.jpg);">
										<div class="news__copyright">
											<div class="news__tag">#Банки</div>

											<time class="news__date">27.02.2019</time>
										</div>
									</div>
								</article>

								<article class="news__item">
									<div class="news__top">
										<div class="news__img" style="background-image: url(img/team1.jpg);"></div>

										<div class="news__info">
											<div class="news__author">Юрий Бирюков</div>

											<div class="news__name"><a href="#">Как предотвратить риски спора с налоговым органом</a></div>
										</div>
									</div>

									<div class="news__preview" style="background-image: url(img/news1.jpg);">
										<div class="news__copyright">
											<div class="news__tag">#Налоги</div>

											<time class="news__date">21.03.2019</time>
										</div>
									</div>
								</article>
							</div><!-- end news -->

							<div class="pager">
								<a href="#" class="pager__item active">1</a>
								<a href="#" class="pager__item">2</a>
								<a href="#" class="pager__item">3</a>
								<a href="#" class="pager__item">4</a>
								<a href="#" class="pager__item">...</a>
								<a href="#" class="pager__item">9</a>
							</div>
						</div>
					</div>
				</div>

				//= ../partial/map.html
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
