<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Страница новости</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb d-none d-md-flex">
								<a href="/" class="bredcrumb__item"><img src="img/icon/ic-home.svg" alt=""></a>
								<a href="#" class="bredcrumb__item">Новости</a>
								<span class="bredcrumb__item">Что инспектирует Роспотребнадзор при целевом контроле? </span>
							</div>
						</div>
					</div>
				</div>

				<div class="news-detail">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="news-detail__content">
									<h1>Что инспектирует Роспотребнадзор при&nbsp;целевом контроле? </h1>

									<div class="news-detail__img" style="background: url(img/news-detail.jpg);">
										<div class="news-detail__copyright">
											<div class="news-detail__tag">#Налоги</div>

											<time class="news-detail__date">21.03.2019</time>
										</div>
									</div>

									<div class="news-detail__share">
										<div class="news-detail-author">
											<div class="news-detail-author__img" style="background-image: url(img/team1.jpg);"></div>

											<div class="news-detail-author__name">Юрий Бирюков</div>
										</div>

										<div class="share">
											<div class="share__title">Поделиться:</div>

											<div class="share__list">
												<a href="#" class="share__item share__item--vk"></a>
												<a href="#" class="share__item share__item--fb"></a>
												<a href="#" class="share__item share__item--tw"></a>
											</div>
										</div>
									</div>

									<div class="news-detail__text">
										<p>Собственно, что инспектирует Федеральная службы по надзору в сфере сохранности прав покупателей и благосостояния человека при плановом контроле и как нередко они исполняются — те и почти все иные проблемы урегулируются в правах и нормативно-правовых документах, приуроченных к сохранности прав покупателя. Нужные данные о деятельности обозначенного гос. органа и порядке выполнения целевого управления возможно отыскать в предоставленной заметке.</p>

										<p>Федеральная служба по надзору в сфере сохранности прав покупателей и благосостояния человека: основные данные и возможности.</p>

										<p>Она содержит размашистый диапазон возможностей, в том числе:</p>

										<ul class="list-line">
											<li>за наблюдение и управление в сфере выполнения нормативов и запросов права оздоровительно-эпидемиологического благосостояния;</li>

											<li>осмотр за выполнением ФЗ «О сохранении прав покупателя» от 07 февраля 1992 за No 2300-I; </li>

											<li>контроль за соблюдением запросов права о правилах реализации специальных продуктов, осуществление дел, предложения помощи;</li>

											<li>ведение и выполнение важных изучений, исследований (часть 5–6 раздела II Положения о Федеральной службе по надзору в сфере сохранности прав покупателей и благосостояния человека, одобренного распоряжением Правительства РФ от 30.06.2004 за No 322;</li>

											<li>осуществление вверенного на Федеральную службу по надзору в сфере сохранности прав покупателей и благосостояния человека перечня возможностей, который осуществлен за счет исполнения обозначенным органом надлежащих типовых контролей.</li>
										</ul>

										<p>Плановых. Ведутся на базе каждый год составленного особого планирования (пункт 3 ст. 9 ФЗ «О сохранении прав правовых личностей и ИП...» от 26.12.2008 No 294-ФЗ). Расписание целевого управления Общегосударственной службы по наблюдению в сфере сохранности прав покупателей и благосостояния человека на 2018 — 2019 возможно взглянуть на его официально зарегистрированной страничке онлайн.</p>

										<div class="notice">
											Роспотребнадзор должен в письменном виде предупредить компанию либо же ИП о выполнении целевого испытания его работы не позднее за 3 рабочих дня до ее возникновения (п. 12 ст. 9 закона No 294-ФЗ). Период выполнения испытания по совокупному правилу не обязан достигать 20 дней (п. 1 ст. 13 закона No 294-ФЗ).  
										</div>

										<div class="h2">Зрительно осмотреть помещение при контроле</div>

										<p>Проведение выездного испытания подразумевает зрительный осмотр помещений и находящегося в продаже либо же производимого продукта, применяемого оснащения и автотранспорта, наружного облика рабочих.</p>

										<p>При этом ведется фактический контроль присутствия:  </p>

										<ul class="list-line">
											<li>утвержден законно по правилам вывеска;</li>

											<li>утвержден законно уголок потребителя;</li>

											<li>ценовой категории и акцизов на товарах;</li>

											<li>инфо о представителях и производителях продукта в недорогом для потребителя месте (либо подготовленном для презентации покупателю);</li>

											<li>прайс-лист с автографом начальника и прочее.</li>
										</ul>

										<p>При зрительном анализировании изготавливаются и замеряются периметр здания, просветы окошек и дверцы, рассматривается внешний облик здания и оснащения оздоровительными общепризнанными мерками, достаточно ли света в кабинете.</p>
									</div>

									<div class="news-detail__share">
										<div class="news-detail-author">
											<div class="news-detail-author__img" style="background-image: url(img/team1.jpg);"></div>

											<div class="news-detail-author__name">Юрий Бирюков</div>
										</div>

										<div class="share">
											<div class="share__title">Поделиться:</div>

											<div class="share__list">
												<a href="#" class="share__item share__item--vk"></a>
												<a href="#" class="share__item share__item--fb"></a>
												<a href="#" class="share__item share__item--tw"></a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4">
								<aside class="sidebar-news">
									<div class="sidebar-news__head">Вам также будет интересно</div>

									<div class="news-more">
										<div class="news-more__item">
											<div class="news-more__img" style="background-image: url(img/team1.jpg);"></div>

											<div class="news-more__content">
												<div class="news-more__author">Юрий Бирюков</div>

												<div class="news-more__name"><a href="#">Как предотвратить риски спора с налоговым органом</a></div>
											</div>
										</div>

										<div class="news-more__item">
											<div class="news-more__img" style="background-image: url(img/team1.jpg);"></div>

											<div class="news-more__content">
												<div class="news-more__author">Юрий Бирюков</div>

												<div class="news-more__name"><a href="#">Все усыновители детей будут получать оплачиваемый отпуск</a></div>
											</div>
										</div>

										<div class="news-more__item">
											<div class="news-more__img" style="background-image: url(img/team2.jpg);"></div>

											<div class="news-more__content">
												<div class="news-more__author">Василий Григоренко</div>

												<div class="news-more__name"><a href="#">Изменена процедура лицензирования банков</a></div>
											</div>
										</div>
									</div>

									<form method="get" class="form-site form-site--vert js-valid-form">
										<div class="form-site__head">Подпишитесь на рассылку</div>

										<div class="form-site__text">будьте в курсе всех новостей</div>

										<div class="form-site__content">
											<input type="text" placeholder="Ваше имя" data-icon="person" required="required">
											
											<input type="email" placeholder="Ваш e-mail" data-icon="email" required="required">

											<input type="submit" value="Подписаться" class="btn">
										</div>
									</form>
								</aside>
							</div>
						</div>
					</div>
				</div>

				//= ../partial/map.html
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
