<div class="shadow-site d-md-none js-shadow"></div>

<header class="header">
	<div class="header-top d-none d-md-flex">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header-top__content">
						<div class="social js-add-mm" data-order="3">
							<a href="#" class="social__item social__item--youtube"></a>
							<a href="#" class="social__item social__item--vk"></a>
							<a href="#" class="social__item social__item--telegram"></a>
							<a href="#" class="social__item social__item--in"></a>
						</div>
					
						<div class="header-top__link js-add-mm" data-order="2">
							<span class="header-top__link-item"><a href="#">Личный кабинет</a></span>
							<span class="header-top__link-item"><a href="#">Он-лайн помощь</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="header-bottom">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header-bottom__content">
						<div class="header-bottom__logo">
							<a href="/"><img src="img/logo.svg" alt=""></a>
						</div>

						<div class="header-bottom__slogan d-none d-lg-block">Интернет-магазин юридических услуг с прозрачными и&nbsp;фиксированными ценами</div>

						<div class="header-bottom__feedback js-add-mm" data-order="4">
							<div class="header-bottom__phone"><a href="tel:+74951222299">+7 (495) 122-22-99</a></div>

							<a data-fancybox data-src="#feedback-form" href="javascript:;" class="header-bottom__feedback-link">Заказать обратный звонок</a>
						</div>

						<form method="get" class="search-form js-search-form">
							<input type="text" name="search" placeholder="Поиск ...">
							<input type="submit" value="Поиск">
						</form>

						<div class="header-bottom__action">
							<span class="header-bottom__ic-search js-ic-search d-inline-block d-md-none"></span>

							<a href="#" class="header-bottom__ic-basket">2 / 12 500 &#8381;</a>

							<span class="ic-hamburger js-open-menu d-inline-block d-md-none"><span></span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container d-none d-md-block">
		<div class="row">
			<div class="col-12">
				<nav class="js-add-mm" data-order="1">
					<ul class="main-menu js-menu-menu">
						<li class="main-menu__item js-menu-menu-item" data-item="0"><a href="#">О проекте</a></li>
						<li class="main-menu__item js-menu-menu-item" data-item="1"><a href="#">Физическим лицам</a></li>
						<li class="main-menu__item js-menu-menu-item" data-item="2"><a href="#">Юридическим лицам</a></li>
						<li class="main-menu__item js-menu-menu-item" data-item="3"><a href="#">Дела и озтывы</a></li>
						<li class="main-menu__item js-menu-menu-item" data-item="4"><a href="#">Часые вопросы</a></li>
						<li class="main-menu__item js-menu-menu-item" data-item="5"><a href="#">Информация</a></li>
						<li class="main-menu__item js-menu-menu-item" data-item="6"><a href="#">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="mobile-menu js-mobile-menu d-md-none">
		<div class="mobile-menu__head">
			<div class="mobile-menu__title js-menu-back">Меню</div>
			<span class="ic-hamburger active js-close-menu"><span></span></span>
		</div>

		<div class="mobile-menu__content js-mobile-menu-content"></div>
	</div>
</header>