html,
body{
	background: #fff;
	font-family: $font-futura;
	@include font(normal, normal, 19px, 1.5, $color-text);
	box-sizing:border-box;
}

body.no-scroll{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img{
	max-width: 100%;
}

a{
	color: $color-brown;
	text-decoration: none;
	border-bottom: 1px dashed $color-brown;
}

a:hover,
a:active,
a:focus{
	color: $color-brown-light;
	border-bottom: 0;
}

p{
	@include font(normal, normal, 19px, 1.5, $color-text);
	letter-spacing: 0.3px;
	padding: 5px 0;
	margin-bottom: 12px;
}

h1,
.h1{
	@include font(normal, 700, 47px, 1.1, $color-text);
	letter-spacing: 0.3px;
	margin-bottom: 40px;
}

h2,
.h2{
	@include font(normal, 700, 38px, 1.2, $color-text);
	margin-bottom: 23px;
}

h3,
.h3{
	@include font(normal, 500, 32px, 1.25, $color-text);
	margin-bottom: 10px;
}

h4,
.h4{
	@include font(normal, 500, 25px, 1.25, $color-text);
	margin-bottom: 10px;
}

h5,
.h5{
	@include font(normal, 500, 20px, 1.25, $color-text);
	margin-bottom: 0;
}

h6,
.h6{
	@include font(normal, 500, 16px, 1.25, $color-text);
	margin-bottom: 0;
}

ul{
	padding-left: 20px;
}

ul,
ul li{
	list-style: none;
	@include font(normal, normal, 19px, 1.5, $color-text);
}

ul li{
	position: relative;
	margin-bottom: 30px;
}

ul li::after{
	content: '';
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: $color-brown-light;
	position: absolute;
	top: 15px;
	left: -20px;
}

ul ul{
	padding-left: 0;
	margin-top: 10px;
}

ul ul li{
	margin-bottom: 10px;
}

ul ul li::after{
	display: none;
}

ul ul li::before{
	content: '\2013';
	margin-right: 3px;
}

ul ul ul{
	padding-left: 30px;
}

.list-line li{
	margin-bottom: 20px;
}

.list-line li::after{
	width: 10px;
	height: 2px;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

main{
	flex: 1;
	// padding-bottom: 100px;
}

.btn,
input[type="submit"].btn{
	display: inline-block;
	height: 50px;
	background: $color-brown;
	border: 0;
	outline: 0;
	border-radius: 25px;
	@include font(normal, 500, 18px, 48px, #fff);
	letter-spacing: 0.2px;
	padding: 0 40px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	// min-width: 220px;
}

input[type="submit"].btn{
	font-size: 16px;
}

.btn:hover,
input[type="submit"].btn:hover{
	background: $color-brown-light;
	color: #fff;
}

.btn--border,
input[type="submit"].btn--border{
	height: 45px;
	padding: 0 35px;
	background: transparent;
	border: 1px solid $color-brown;
	border-radius: 22.5px;
	color: $color-brown;
	line-height: 43px;
}

.btn--border:hover,
input[type="submit"].btn--border:hover{
	background: $color-brown;
	color: #fff;
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.h-text-left{text-align: left !important;}
.h-text-center{text-align: center !important;}
.h-text-right{text-align: right !important;}
.h-text-justify{text-align: justify !important;}
.h-text-uppercase{text-transform: uppercase !important;}
.h-text-bold {font-weight: 700 !important;}

.contents-site{
	margin: 50px 0;

	&__item{
		margin-bottom: 15px;
	}
}

video{
	max-width: 100%;
}

.site-video{
	width: 585px;
	max-width: 100%;
}

.bg-grey{
	background: #f7f7f7;
}

.link-more{
	@include font(normal, normal, 19px, 1.25, $color-brown);
	border-bottom: 0;
	padding-left: 60px;
	position: relative;

	&::before{
		content: '';
		display: inline-block;
		width: 30px;
		height: 1px;
		background: $color-brown;
		position: absolute;
		@include top-center;
		left: 0;
	}

	&:hover::before{
		display: none;
	}
}

.link-back{
	@include font(normal, normal, 19px, 1.25, $color-brown);
	border-bottom: 0;
	padding-left: 30px;
	position: relative;

	&::before{
		content: '';
		display: inline-block;
		width: 20px;
		height: 12px;
		background: url(#{$path-icons}/ic-arr-back.svg) no-repeat center;
		position: absolute;
		@include top-center;
		left: 0;
	}

	&:hover::before{
		background-image: url(#{$path-icons}/ic-arr-back-active.svg)
	}
}

.fancybox-content{
	padding: 30px 40px 40px;
}

.input-radio{
	&__label{
		display: flex;
		align-items: center;
		cursor: pointer;
		position: relative;
		@include font(normal, normal, 19px, 1.25, $color-text);
	}

	input[type=radio] {
		display: none;
	}

	&__mark{
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid $color-grey;
		background: transparent;
	}

	&__text{
		max-width: calc(100% - 32px);
		margin-left: 15px;
	}

	&--img &__text{
		max-width: calc(100% - 140px);
	}

	&__label:hover &__mark,
	input[type=radio]:checked + &__label &__mark{
		border: 3px solid $color-brown;
	}

	&__img{
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80px;
		height: 80px;
		background: $color-text;
		border-radius: 50%;
		margin: 0 4px 0 23px;
	}

	&__img-active{
		display: none;
	}

	&__label:hover &__img-inactive,
	input[type=radio]:checked &__img-inactive{
		display: none;
	}

	&__label:hover &__img-active,
	input[type=radio]:checked &__img-active{
		display: block;
	}
}

.shadow-site{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 99;
}

.shadow-site.is-visible{
	display: block;
}


@media (max-width: 767px) {
	html,
	body,
	p{
		font-size: 17px;
	}

	.wrapper{
		overflow: hidden;
	}
}