<section class="container">
	<div class="row">
		<div class="col-lg-6">
			<div class="head-block">
				<div class="head-block__title">Lex Service это будущее</div>

				<div class="head-block__content">
					<div class="head-block__subtitle">юридических услуг</div>

					<div class="head-block__text js-short-text" data-count="435">
						<p>В каталог юридических услуг включены услуги, оказываемые юристами и адвокатами. Католог юридических услуг ежедневно обновляется. Навигация в каталоге организована таким образом, чтобы вы могли быстро найти нужную юридическую услугу, ознакомиться с условиями и порядком ее предоставления.</p>

						<p>Каталог содержит наиболее стандартные юридические услуги. Нестандартные юридические услуги могут быть оказаны нашим  могли быстро найти нужную юридическую услугу, ознакомиться с условиями и порядком ее предоставления.</p>
					</div>

					<a href="#" class="link-more">Читать далее</a>
				</div>
			</div>
		</div>

		<div class="col-lg-6 d-flex justify-content-end align-items-start">
			<img src="img/about.jpg" alt="">
		</div>
	</div>
</section>