<section class="advant-wrap">
	<div  class="container">
		<div class="row">
			<div class="col-12">
				<div class="h1 h-text-center">Преимущества нашего сервиса</div>
			</div>
		</div>


		<div class="advant">
			<div class="row">
				<div class="col-6 col-md-4">
					<div class="advant__item">
						<div class="advant__icon"><img src="img/advant1.svg" alt=""></div>

						<div class="advant__text">Фиксировання цена</div>
					</div>
				</div>

				<div class="col-6 col-md-4">
					<div class="advant__item">
						<div class="advant__icon"><img src="img/advant2.svg" alt=""></div>

						<div class="advant__text">Пофессионализм</div>
					</div>
				</div>

				<div class="col-6 col-md-4">
					<div class="advant__item">
						<div class="advant__icon"><img src="img/advant3.svg" alt=""></div>

						<div class="advant__text">Надежно и быстро</div>
					</div>
				</div>

				<div class="col-6 col-md-4">
					<div class="advant__item">
						<div class="advant__icon"><img src="img/advant4.svg" alt=""></div>

						<div class="advant__text">Прозрачный процесс</div>
					</div>
				</div>

				<div class="col-6 col-md-4">
					<div class="advant__item">
						<div class="advant__icon"><img src="img/advant5.svg" alt=""></div>

						<div class="advant__text">Конфидециальность</div>
					</div>
				</div>

				<div class="col-6 col-md-4">
					<div class="advant__item">
						<div class="advant__icon"><img src="img/advant6.svg" alt=""></div>

						<div class="advant__text">Скидки и бонусы</div>
					</div>
				</div>
			</div>
		</div><!-- end advant -->
	</div>
</section><!-- end advant-wrap -->