<div class="category">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category1.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Зарегистрировать брак</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category2.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Взыскание алиментов на детей</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category3.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Взыскание алиментов на нетрудоспособного члена семьи</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category4.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Лишение родительских прав</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category5.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Ограничение родительских прав</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category6.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Восстановление в родительских правах</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category7.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Оспаривание отцовства</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category8.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Установление отцовства</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category9.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Расторжение брака</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category10.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Признание брака недействительным</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category11.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Раздел имущества</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category12.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Определение места жительства ребёнка</a></div>
				</div>
			</div>

			<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="category__item">
					<div class="category__icon">
						<img src="img/icon-category13.svg" alt="">
					</div>

					<div class="category__name"><a href="#">Определение порядка общения с ребёнком</a></div>
				</div>
			</div>
		</div>
	</div>
</div><!-- end category -->