<section class="decision">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="h1 h-text-center" style="max-width: 590px; margin-left: auto; margin-right: auto;">Мы много лет решаем проблемы наших клиентов</div>

				<div class="tabs-page js-tabs-page">
					<ul class="tabs-page__list js-tabs-page-list">
						<li class="tabs-page__item js-tabs-page-item" data-item="tab1">Уголовное право</li>

						<li class="tabs-page__item js-tabs-page-item" data-item="tab2">Трудовое право</li>

						<li class="tabs-page__item js-tabs-page-item" data-item="tab3">Взыскание долгов</li>

						<li class="tabs-page__item js-tabs-page-item" data-item="tab4">Наследственное право</li>

						<li class="tabs-page__item js-tabs-page-item" data-item="tab5">Семейное право</li>

						<li class="tabs-page__item js-tabs-page-item" data-item="tab6">Недвижимось</li>
					</ul>

					<div class="tabs-page__content js-tabs-page-content">
						<div id="tab1" class="tabs-page__content-item js-tabs-page-content-item js-tabs-page-content-item">
							<div class="tabs-page-vert js-tabs-page-vert">
								<div class="tabs-page-vert__list-wrap">
									<ul class="tabs-page-vert__list js-tabs-page-vert-list">
										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert1">Изучить дело</li>

										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert2">Посмотреть результат</li>
									</ul>

									<a href="#" class="link-more">Смотреть все дела<br>данной категории</a>
								</div>

								<div class="tabs-page-vert__content js-tabs-page-vert-content">
									<div id="tab-vert1" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">
										<div class="case">
											<div class="case__img">
												<img src="img/case.jpg" alt="">

												<div class="case__author">Василий Григоренко</div>
											</div>

											<div class="case__text">
												<div class="scroll-content js-scroll-content" data-width="100%" data-height="382px">
													<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."</p>

													<p>Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>

													<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."</p>

													<p>Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
												</div>
											</div>
										</div>
									</div>

									<div id="tab-vert2" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">Текст</div>
								</div>
							</div><!-- end tabs-page-vert -->
						</div>

						<div id="tab2" class="tabs-page__content-item js-tabs-page-content-item js-tabs-page-content-item">
							<div class="tabs-page-vert js-tabs-page-vert">
								<div class="tabs-page-vert__list-wrap">
									<ul class="tabs-page-vert__list js-tabs-page-vert-list">
										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert1">Изучить дело</li>

										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert2">Посмотреть результат</li>
									</ul>

									<a href="#" class="tabs-page-vert__more">Смотреть все дела<br>данной категории</a>
								</div>

								<div class="tabs-page-vert__content js-tabs-page-vert-content">
									<div id="tab-vert1" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">
										<div class="case">
											<div class="case__img">
												<img src="img/case.jpg" alt="">

												<div class="case__author">Василий Григоренко</div>
											</div>

											<div class="case__text">
												<div class="scroll-content js-scroll-content" data-width="100%" data-height="382px">
													<p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."</p>
												</div>
											</div>
										</div>
									</div>

									<div id="tab-vert2" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">Текст</div>
								</div>
							</div><!-- end tabs-page-vert -->
						</div>

						<div id="tab3" class="tabs-page__content-item js-tabs-page-content-item js-tabs-page-content-item">
							<div class="tabs-page-vert js-tabs-page-vert">
								<div class="tabs-page-vert__list-wrap">
									<ul class="tabs-page-vert__list js-tabs-page-vert-list">
										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert1">Изучить дело</li>

										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert2">Посмотреть результат</li>
									</ul>

									<a href="#" class="tabs-page-vert__more">Смотреть все дела<br>данной категории</a>
								</div>

								<div class="tabs-page-vert__content js-tabs-page-vert-content">
									<div id="tab-vert1" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">
										<div class="case">
											<div class="case__img">
												<img src="img/case.jpg" alt="">

												<div class="case__author">Василий Григоренко</div>
											</div>

											<div class="case__text">
												<div class="scroll-content js-scroll-content" data-width="100%" data-height="382px">
													Текст
												</div>
											</div>
										</div>
									</div>

									<div id="tab-vert2" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">Текст</div>
								</div>
							</div><!-- end tabs-page-vert -->
						</div>

						<div id="tab4" class="tabs-page__content-item js-tabs-page-content-item js-tabs-page-content-item">
							<div class="tabs-page-vert js-tabs-page-vert">
								<div class="tabs-page-vert__list-wrap">
									<ul class="tabs-page-vert__list js-tabs-page-vert-list">
										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert1">Изучить дело</li>

										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert2">Посмотреть результат</li>
									</ul>

									<a href="#" class="tabs-page-vert__more">Смотреть все дела<br>данной категории</a>
								</div>

								<div class="tabs-page-vert__content js-tabs-page-vert-content">
									<div id="tab-vert1" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">
										<div class="case">
											<div class="case__img">
												<img src="img/case.jpg" alt="">

												<div class="case__author">Василий Григоренко</div>
											</div>

											<div class="case__text">
												<div class="scroll-content js-scroll-content" data-width="100%" data-height="382px">
													Текст
												</div>
											</div>
										</div>
									</div>

									<div id="tab-vert2" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">Текст</div>
								</div>
							</div><!-- end tabs-page-vert -->
						</div>

						<div id="tab5" class="tabs-page__content-item js-tabs-page-content-item js-tabs-page-content-item">
							<div class="tabs-page-vert js-tabs-page-vert">
								<div class="tabs-page-vert__list-wrap">
									<ul class="tabs-page-vert__list js-tabs-page-vert-list">
										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert1">Изучить дело</li>

										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert2">Посмотреть результат</li>
									</ul>

									<a href="#" class="tabs-page-vert__more">Смотреть все дела<br>данной категории</a>
								</div>

								<div class="tabs-page-vert__content js-tabs-page-vert-content">
									<div id="tab-vert1" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">
										<div class="case">
											<div class="case__img">
												<img src="img/case.jpg" alt="">

												<div class="case__author">Василий Григоренко</div>
											</div>

											<div class="case__text">
												<div class="scroll-content js-scroll-content" data-width="100%" data-height="382px">
													Текст
												</div>
											</div>
										</div>
									</div>

									<div id="tab-vert2" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">Текст</div>
								</div>
							</div><!-- end tabs-page-vert -->
						</div>

						<div id="tab6" class="tabs-page__content-item js-tabs-page-content-item js-tabs-page-content-item">
							<div class="tabs-page-vert js-tabs-page-vert">
								<div class="tabs-page-vert__list-wrap">
									<ul class="tabs-page-vert__list js-tabs-page-vert-list">
										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert1">Изучить дело</li>

										<li class="tabs-page-vert__item js-tabs-page-vert-item" data-item="tab-vert2">Посмотреть результат</li>
									</ul>

									<a href="#" class="tabs-page-vert__more">Смотреть все дела<br>данной категории</a>
								</div>

								<div class="tabs-page-vert__content js-tabs-page-vert-content">
									<div id="tab-vert1" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">
										<div class="case">
											<div class="case__img">
												<img src="img/case.jpg" alt="">

												<div class="case__author">Василий Григоренко</div>
											</div>

											<div class="case__text">
												<div class="scroll-content js-scroll-content" data-width="100%" data-height="382px">
													Текст
												</div>
											</div>
										</div>
									</div>

									<div id="tab-vert2" class="tabs-page-vert__content-item js-tabs-page-vert-content-item js-tabs-page-vert-content-item">Текст</div>
								</div>
							</div><!-- end tabs-page-vert -->
						</div>
					</div>
				</div><!-- end tabs-page -->
			</div>
		</div>
	</div>
</section>