<section class="container">
	<div class="row">
		<div class="col-6">
			<div class="site-video">
				<div id="player" class="site-video"></div>
			</div>

			<script>
				var player = new Playerjs({id:"player", file:"video/coffee.mp4",poster:"img/poster-video.jpg"});
			</script>
		</div>

		<div class="col-6">
			<div class="head-block">
				<div class="head-block__title">Возкникли сложности </div>

				<div class="head-block__content">
					<div class="head-block__subtitle">с заказом услуги?</div>

					<div class="head-block__text">
						<p>Посмотрите видео, в котором мы пошагово показываем как работет наш сервис. Просмотр видео займет всего 2 минуты и позволит вам сэкономить деньги на использовании услуг юридических компаний</p>

						<p>Если остались вопросы, более подробнее можете прочитать статьи в нашем разделе - <a href="#">Информация</a>. В них мы подробно описываем, как правильно выбрать услугу и чем отличаются комплексные пакеты от отдельных услуг.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>