<nav class="service-nav">
	<ul class="service-nav__list">
		<li class="service-nav__item"><a href="#cat-desc" class="js-link-move">Описание</a></li>

		<li class="service-nav__item"><a href="#service-list" class="js-link-move">Список услуг</a></li>

		<li class="service-nav__item"><a href="#cat-procedure" class="js-link-move">Порядок оказания</a></li>

		<li class="service-nav__item"><a href="#cat-time" class="js-link-move">Сроки</a></li>

		<li class="service-nav__item"><a href="#cat-docs" class="js-link-move">Документы и акты</a></li>

		<li class="service-nav__item"><a href="#cat-result" class="js-link-move">Результат</a></li>
	</ul>
</nav>