<div class="services">
	<a href="#" class="services__item">
		<div class="services__img" style="background: url(img/service1.jpg);"></div>

		<div class="services__icons">
			<img src="img/icon-service1.svg" alt="" class="services__icon-color">

			<img src="img/icon-service1-white.svg" alt="" class="services__icon-white">
		</div>

		<div class="services__name">Жилищные споры</div>
	</a>

	<a href="#" class="services__item">
		<div class="services__img" style="background: url(img/service1.jpg);"></div>

		<div class="services__icons">
			<img src="img/icon-service2.svg" alt="" class="services__icon-color">

			<img src="img/icon-service2-white.svg" alt="" class="services__icon-white">
		</div>

		<div class="services__name">Наследственные дела</div>
	</a>

	<a href="#" class="services__item">
		<div class="services__img" style="background: url(img/service1.jpg);"></div>

		<div class="services__icons">
			<img src="img/icon-service3.svg" alt="" class="services__icon-color">

			<img src="img/icon-service3-white.svg" alt="" class="services__icon-white">
		</div>

		<div class="services__name">Труд и миграция</div>
	</a>

	<a href="#" class="services__item">
		<div class="services__img" style="background: url(img/service1.jpg);"></div>

		<div class="services__icons">
			<img src="img/icon-service4.svg" alt="" class="services__icon-color">

			<img src="img/icon-service4-white.svg" alt="" class="services__icon-white">
		</div>

		<div class="services__name">Защита прав потребителей</div>
	</a>

	<a href="#" class="services__item">
		<div class="services__img" style="background: url(img/service1.jpg);"></div>

		<div class="services__icons">
			<img src="img/icon-service5.svg" alt="" class="services__icon-color">

			<img src="img/icon-service5-white.svg" alt="" class="services__icon-white">
		</div>

		<div class="services__name">Брак и семья</div>
	</a>

	<a href="#" class="services__item">
		<div class="services__img" style="background: url(img/service1.jpg);"></div>

		<div class="services__icons">
			<img src="img/icon-service6.svg" alt="" class="services__icon-color">

			<img src="img/icon-service6-white.svg" alt="" class="services__icon-white">
		</div>

		<div class="services__name">Кредиты, ипотека</div>
	</a>

	<a href="#" class="services__item">
		<div class="services__img" style="background: url(img/service1.jpg);"></div>

		<div class="services__icons">
			<img src="img/icon-service7.svg" alt="" class="services__icon-color">

			<img src="img/icon-service7-white.svg" alt="" class="services__icon-white">
		</div>

		<div class="services__name">Медицина</div>
	</a>

	<a href="#" class="services__item">
		<div class="services__img" style="background: url(img/service1.jpg);"></div>

		<div class="services__icons">
			<img src="img/icon-service8.svg" alt="" class="services__icon-color">

			<img src="img/icon-service8-white.svg" alt="" class="services__icon-white">
		</div>

		<div class="services__name">Возмещения ущерба ДТП</div>
	</a>
</div><!-- end services -->