<section class="service-page__services-add">
	<div class="h2">Дополнительные услуги</div>

	<p>Дополнительные услуги на включены в комплексную услугу, так как являются отдельным видом услуги</p>

	<div class="cat-services">
		<div class="cat-services__item">
			<div class="cat-services__img"><img src="img/cat-services7.svg" alt=""></div>

			<div class="cat-services__text">Заверить документ у нотариуса</div>

			<div class="cat-services__price">5 000 руб</div>

			<a href="#" class="btn btn--border">Заказать</a>
		</div>
	</div>
</section>