<section class="container">
	<div class="row">
		<div class="col-12">
			<div class="h1 h-text-center">Как работает сайт</div>

			<div class="steps animate">
				<div class="steps__item">
					<div class="steps__num steps__num--one">1</div>

					<div class="steps__text">Выбираете раздел и интересующую услуг</div>
				</div>

				<div class="steps__item">
					<div class="steps__num steps__num--two">2</div>

					<div class="steps__text">Выбираете или комплексную услугу или заказываете отдельные услуги</div>
				</div>

				<div class="steps__item">
					<div class="steps__num steps__num--three">3</div>

					<div class="steps__text">Переходите в корзину и оплачиваете услугу, вводите ваши данные</div>
				</div>

				<div class="steps__item">
					<div class="steps__num steps__num--four">4</div>

					<div class="steps__text">С вами связывается наш юрист и ведет ваше дело</div>
				</div>
			</div><!-- end steps animate -->
		</div>
	</div>
</section>